@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;

  src: url(../font/montserrat-light-webfont.woff2) format('woff'),
    url(../font/montserrat-light-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/montserrat-regular-webfont.woff) format('woff'),
    url(../font/montserrat-regular-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;

  src: url(../font/montserrat-medium-webfont.woff2) format('woff'),
    url(../font/montserrat-medium-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: url(../font/montserrat-bold-webfont.woff2) format('woff'),
    url(../font/montserrat-bold-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Montserrat_Alternates/montserratalternates-regular-webfont.woff) format('woff'),
    url(../font/Montserrat_Alternates/montserratalternates-regular-webfont.woff2) format('woff2');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/Montserrat_Alternates/montserratalternates-bold-webfont.woff) format('woff'),
    url(../font/Montserrat_Alternates/montserratalternates-bold-webfont.woff2) format('woff2');
}
