@font-face {
  font-family: 'CeraPro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;

  src: url(../font/CeraPro-Light.woff) format('woff'),
    url(../font/CeraPro-Light.woff2) format('woff2');
}
@font-face {
  font-family: 'CeraPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/CeraPro-Regular.woff) format('woff'),
    url(../font/CeraPro-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'CeraPro';
  font-style: normal;
  font-weight: 500;
  font-display: swap;

  src: url(../font/CeraPro-Medium.woff) format('woff'),
    url(../font/CeraPro-Medium.woff2) format('woff2');
}
@font-face {
  font-family: 'CeraPro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;

  src: url(../font/CeraPro-Bold.woff) format('woff'),
    url(../font/CeraPro-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'CaviarDreams';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/CaviarDreams.woff) format('woff'),
    url(../font/CaviarDreams.woff2) format('woff2');
}
@font-face {
  font-family: 'CaviarDreams';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../font/CaviarDreams-Bold.woff) format('woff'),
    url(../font/CaviarDreams-Bold.woff2) format('woff2');
}
