:root {
  --text-color: #2b2b2b;
  --accent-color: #487996;
  --icon-pseudoelement-color: #008cef;
  --hero-lang-color: #bdbdbd;
  --form-input-text-color: #ffffff;
  --form-placeholder-color: #cdcdcd;
  --form-input-bg-color: rgba(72, 121, 150, 0.5);
  --btn-footer-bg-color: #f5f5fa;
  --backdrop-bg-color: rgba(43, 43, 43, 0.8);
  --btn-box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(72, 121, 150, 0.1),
    5px 5px 10px rgba(72, 121, 150, 0.25), -5px -5px 10px #ffffff;
  --footer-box-shadow: 5px 2px 5px 8px rgba(72, 121, 150, 0.1);
  --main-font: 'Montserrat', sans-serif;
  --header-font: 'Montserrat Alternates', sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 688px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1102px;
  }
}

body {
  font-family: var(--main-font);
}

header {
  padding: 29px 0 32px;
}

@media (min-width: 768px) {
  header {
    padding: 20px 0 35px;
  }
}

@media (min-width: 1440px) {
  header {
    padding: 40px 0 24px;
  }
}

footer {
  padding: 32px 0;
}

@media (min-width: 1440px) {
  footer {
    padding: 30px 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

address {
  font-style: normal;
}

button {
  padding: 0;
  border: none;
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../font/montserrat-light-webfont.woff2) format("woff"), url(../font/montserrat-light-webfont.woff2) format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/montserrat-regular-webfont.woff) format("woff"), url(../font/montserrat-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../font/montserrat-medium-webfont.woff2) format("woff"), url(../font/montserrat-medium-webfont.woff2) format("woff2");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/montserrat-bold-webfont.woff2) format("woff"), url(../font/montserrat-bold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../font/Montserrat_Alternates/montserratalternates-regular-webfont.woff) format("woff"), url(../font/Montserrat_Alternates/montserratalternates-regular-webfont.woff2) format("woff2");
}

@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../font/Montserrat_Alternates/montserratalternates-bold-webfont.woff) format("woff"), url(../font/Montserrat_Alternates/montserratalternates-bold-webfont.woff2) format("woff2");
}

.main-button {
  display: block;
  cursor: pointer;
  background-color: var(--btn-footer-bg-color);
  width: 280px;
  height: 56px;
  padding: 16px 0;
  border-radius: 30.5px;
  outline: none;
  -webkit-box-shadow: var(--btn-box-shadow);
          box-shadow: var(--btn-box-shadow);
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--icon-pseudoelement-color);
  color: #fff;
}

.it-container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .it-container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .it-container {
    width: 768px;
  }
}

@media screen and (min-width: 1444px) {
  .it-container {
    width: 1444px;
  }
}

.gallery-title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: #487996;
  margin-bottom: 16px;
}

.about-list-img {
  display: block;
}

.gallery__card-title {
  font-family: Montserrat;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: #487996;
  margin-bottom: 24px;
}

.gallery__card-title_margin-bot {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .gallery-title {
    margin-bottom: 32px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.25;
  }
  .gallery__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: calc(-1 * 18px);
    margin-top: calc(-1 * 32px);
  }
  .gallery__list-card {
    -ms-flex-preferred-size: calc((100% - 2 * 18px) / 2);
        flex-basis: calc((100% - 2 * 18px) / 2);
    margin-left: 18px;
    margin-top: 32px;
  }
  .gallery__card-title {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery__list {
    margin-left: calc(-1 * 32px);
    margin-top: calc(-1 * 56px);
  }
  .gallery__list-card {
    -ms-flex-preferred-size: calc((100% - 2 * 32px) / 2);
        flex-basis: calc((100% - 2 * 32px) / 2);
    margin-left: 32px;
    margin-top: 56px;
  }
}

.YV-scanning-hero__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25;
  color: var(--accent-color);
  border: 1px solid red;
}
/*# sourceMappingURL=main.css.map */