<section class="methods-creations">
    <div class="container img-container">
        <h3 class="methods-creations__title">Способи створення моделі:</h3>
        <ul class="methods-creations__list list">
                <li class="methods-creations__item">3D сканування</li>
                <li class="methods-creations__item">На основі фотографій з доданими розмірами</li>
                <li class="methods-creations__item">За ескізами з розмірами</li>
                <li class="methods-creations__item">За вашим кресленням</li>
                <li class="methods-creations__item">По вже існуючому прототипу шляхом зняття розмірів</li>
        </ul>
        <picture>
            <source media="(min-width: 1444px)"
                srcset="./images/desktop/3d-modeling/img0.webp 1x, ./images/desktop/3d-modeling/img0@2x.webp 2x"
                type="image/webp">
            <source media="(min-width: 1444px)"
                srcset="./images/desktop/3d-modeling/img0.png 1x, ./images/desktop/3d-modeling/img0@2x.png 2x">
        
            <source media="(min-width: 768px)"
                srcset="./images/tablet/3d-modeling/img0.webp 1x, ./images/tablet/3d-modeling/img0@2x.webp 2x"
                type="image/webp">
            <source media="(min-width: 768px)"
                srcset="./images/tablet/3d-modeling/img0.png 1x, ./images/tablet/3d-modeling/img0@2x.png 2x">
        
            <source media="(min-width: 320px)"
                srcset="./images/mobile/3d-modeling/img0.webp 1x, ./images/mobile/3d-modeling/img0@2x.webp 2x"
                type="image/webp">
            <source media="(min-width: 320px)"
                srcset="./images/mobile/3d-modeling/img0.png 1x, ./images/mobile/3d-modeling/img0@2x.png 2x">
            <img class="methods-model__img" src="./images/mobile/3d-modeling/img0.png" alt="3d-модель">
        </picture>
    </div>
</section>