<section class="create-model">
    <div class="container">
        <h3 class="create-model__title">МИ СТВОРЮЄМО ФОТОРЕАЛІСТИЧНІ ЗОБРАЖЕННЯ МОДЕЛЕЙ</h3>
        <ul class="create-model__gallery list">
            <li class="create-model__img">
                <picture class="picture">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-modeling/img1.jpg 1x, ./images/desktop/3d-modeling/img1@2x.jpg 2x">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-modeling/img1.webp 1x, ./images/desktop/3d-modeling/img1@2x.webp 2x"
                        type="image/webp">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-modeling/img1.jpg 1x, ./images/tablet/3d-modeling/img1@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-modeling/img1.webp 1x, ./images/tablet/3d-modeling/img1@2x.webp 2x"
                        type="image/webp">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-modeling/img1.jpg 1x, ./images/mobile/3d-modeling/img1@2x.jpg 2x">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-modeling/img1.webp 1x, ./images/mobile/3d-modeling/img1@2x.webp 2x"
                        type="image/webp">
                    <img class="img-border-left" src="./images/mobile/3d-modeling/img1.jpg" alt="хомут для друб">
                </picture>
            </li>
            <li class="create-model__img">
                <picture class="picture">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-modeling/img2.jpg 1x, ./images/desktop/3d-modeling/img2@2x.jpg 2x">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-modeling/img2.webp 1x, ./images/desktop/3d-modeling/img2@2x.webp 2x"
                        type="image/webp">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-modeling/img2.jpg 1x, ./images/tablet/3d-modeling/img2@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-modeling/img2.webp 1x, ./images/tablet/3d-modeling/img2@2x.webp 2x"
                        type="image/webp">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-modeling/img2.jpg 1x, ./images/mobile/3d-modeling/img2@2x.jpg 2x">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-modeling/img2.webp 1x, ./images/mobile/3d-modeling/img2@2x.webp 2x"
                        type="image/webp">
                    <img class="img-border-right" src="./images/mobile/3d-modeling/img2.jpg" alt="електроний штангельциркуль">
                </picture>
            </li>
            <li class="create-model__img">
                <picture class="picture">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-modeling/img3.jpg 1x, ./images/desktop/3d-modeling/img3@2x.jpg 2x">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-modeling/img3.webp 1x, ./images/desktop/3d-modeling/img3@2x.webp 2x"
                        type="image/webp">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-modeling/img3.jpg 1x, ./images/tablet/3d-modeling/img3@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-modeling/img3.webp 1x, ./images/tablet/3d-modeling/img3@2x.webp 2x"
                        type="image/webp">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-modeling/img3.jpg 1x, ./images/mobile/3d-modeling/img3@2x.jpg 2x">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-modeling/img3.webp 1x, ./images/mobile/3d-modeling/img3@2x.webp 2x"
                        type="image/webp">
                    <img class="img-border-left" src="./images/mobile/3d-modeling/img3.jpg" alt="плата">
                </picture>
            </li>
            <li class="create-model__img">
                <picture class="picture">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-modeling/img4.jpg 1x, ./images/desktop/3d-modeling/img4@2x.jpg 2x">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-modeling/img4.webp 1x, ./images/desktop/3d-modeling/img4@2x.webp 2x"
                        type="image/webp">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-modeling/img4.jpg 1x, ./images/tablet/3d-modeling/img4@2x.jpg 2x">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-modeling/img4.webp 1x, ./images/tablet/3d-modeling/img4@2x.webp 2x"
                        type="image/webp">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-modeling/img4.jpg 1x, ./images/mobile/3d-modeling/img4@2x.jpg 2x">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-modeling/img4.webp 1x, ./images/mobile/3d-modeling/img4@2x.webp 2x"
                        type="image/webp">
                    <img class="img-border-right" src="./images/mobile/3d-modeling/img4.jpg" alt="якор для мотора">
                </picture>
            </li>
        </ul>
        <a href="take-order.html" class="main-button order-form-btn">ЗРОБИТИ ЗАМОВЛЕННЯ</a>
    </div>
</section>
