<section class="lo-methods-creations">
    <div class="container lo-container">
        <h3 class="lo-methods-creations__title">СПОСОБИ СТВОРЕННЯ МОДЕЛІ:</h3>
        <ul class="lo-methods-creations__list list">
                <li class="lo-methods-creations__item">3D сканування</li>
                <li class="lo-methods-creations__item">На основі фотографій з доданими розмірами</li>
                <li class="lo-methods-creations__item">За ескізами з розмірами</li>
                <li class="lo-methods-creations__item">За вашим кресленням</li>
                <li class="lo-methods-creations__item">По вже існуючому прототипу шляхом зняття розмірів</li>
        </ul>
    </div>
</section>