<section class="procesess-section section">
  <div class="procesess-container container">
    <h2 hidden class="procesess-title">ОПИС ПРОЦЕСІВ</h2>
    <ul class="processes list">
      <li class="processes__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/3d-printing/img5.webp    1x,
              ./images/desktop/3d-printing/img5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/3d-printing/img5.jpg    1x,
              ./images/desktop/3d-printing/img5@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/img5.webp    1x,
              ./images/tablet/3d-printing/img5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/img5.jpg    1x,
              ./images/tablet/3d-printing/img5@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/img5.webp    1x,
              ./images/mobile/3d-printing/img5@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/img5.jpg    1x,
              ./images/mobile/3d-printing/img5@2x.jpg 2x
            "
          />
          <img class="processes__img" src="#" alt="Макет Ейфелевої вежі" />
        </picture>
        <div class="processes__wrapper">
          <div class="processes__description">
            <p class="processes__description-part">
              <span class="description-title">3D-друк</span> - ми використовуємо FDM технологію
              друку. Вона представляє собою пошарове формування об'єкта за допомогою 3D принтера.
            </p>
            <p class="processes__description-part">
              Моделі для створення розроблюються дизайнерами в спеціальному програмному
              забезпеченні: системах автоматизованого проектування.
            </p>
            <p class="processes__description-part">
              3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу,
              мистецтві і багатьох інших сфер.
            </p>
          </div>
          <a href="/take-order.html">
          <button class="order-button" type="button">
            ЗРОБИТИ ЗАМОВЛЕННЯ
          </button>
          </a>
        </div>
      </li>
      <li class="processes__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/3d-printing/img6.webp    1x,
              ./images/desktop/3d-printing/img6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/3d-printing/img6.jpg    1x,
              ./images/desktop/3d-printing/img6@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/img6.webp    1x,
              ./images/tablet/3d-printing/img6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/img6.jpg    1x,
              ./images/tablet/3d-printing/img6@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/img6.webp    1x,
              ./images/mobile/3d-printing/img6@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/img6.jpg    1x,
              ./images/mobile/3d-printing/img6@2x.jpg 2x
            "
          />
          <img class="processes__img" src="#" alt="Моделювання на комп'ютері" />
        </picture>
        <div class="processes__wrapper">
          <div class="processes__description">
            <p class="processes__description-part">
              <span class="description-title">3D-моделювання</span> - це процес розробки
              математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
              спеціалізованого програмного забезпечення.
            </p>
            <p class="processes__description-part">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
            </p>
            <p class="processes__description-part">
              Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка повністю
              задовольнить ваші потреби.
            </p>
          </div>
          <a href="/take-order.html">
          <button class="order-button" type="button">
            ЗРОБИТИ ЗАМОВЛЕННЯ
          </button>
          </a>
        </div>
      </li>
      <li class="processes__item">
        <picture>
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/3d-printing/img7.webp    1x,
              ./images/desktop/3d-printing/img7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1444px)"
            srcset="
              ./images/desktop/3d-printing/img7.jpg    1x,
              ./images/desktop/3d-printing/img7@2x.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/img7.webp    1x,
              ./images/tablet/3d-printing/img7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/tablet/3d-printing/img7.jpg    1x,
              ./images/tablet/3d-printing/img7@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/img7.webp    1x,
              ./images/mobile/3d-printing/img7@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 320px)"
            srcset="
              ./images/mobile/3d-printing/img7.jpg    1x,
              ./images/mobile/3d-printing/img7@2x.jpg 2x
            "
          />
          <img class="processes__img" src="#" alt="Фігура на інструменті для сканування" />
        </picture>
        <div class="processes__wrapper">
          <div class="processes__description">
            <p class="processes__description-part">
              <span class="description-title">3D-сканування</span> - зняття даних, шляхом аналізу
              форми предмета і на основі отриманих даних створення її 3D-моделі.
            </p>
            <p class="processes__description-part">
              Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для
              візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на
              3D-принтері.
            </p>
          </div>
          <a href="/take-order.html">
          <button class="order-button" type="button">
            ЗРОБИТИ ЗАМОВЛЕННЯ
          </button>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
