<section class="eb_we-create-section section">
    <div class="eb_we-create-container container">
        <h2 class="eb_we-create-title">МИ СТВОРЮЄМО</h2>
        <ul class="eb_we-create list">
            <li class="eb_we-create__item">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-printing/img1.webp 1x, ./images/desktop/3d-printing/img1@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-printing/img1.png 1x, ./images/desktop/3d-printing/img1@2x.png 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-printing/img1.webp 1x, ./images/tablet/3d-printing/img1@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-printing/img1.png 1x, ./images/tablet/3d-printing/img1@2x.png 2x">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-printing/img1.webp 1x, ./images/mobile/3d-printing/img1@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-printing/img1.png 1x, ./images/mobile/3d-printing/img1@2x.png 2x">
                    <img class="eb_we-create__img" src="#" alt="Прототип виробу">
                </picture>
                <p class="eb_we-create__item-name">ПРОТОТИПИ</p>
            </li>
            <li class="eb_we-create__item">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-printing/img2.webp 1x, ./images/desktop/3d-printing/img2@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-printing/img2.png 1x, ./images/desktop/3d-printing/img2@2x.png 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-printing/img2.webp 1x, ./images/tablet/3d-printing/img2@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-printing/img2.png 1x, ./images/tablet/3d-printing/img2@2x.png 2x">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-printing/img2.webp 1x, ./images/mobile/3d-printing/img2@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-printing/img2.png 1x, ./images/mobile/3d-printing/img2@2x.png 2x">
                    <img class="eb_we-create__img" src="#" alt="Макет">
                </picture>
                <p class="eb_we-create__item-name">МАКЕТИ</p>
            </li>
            <li class="eb_we-create__item">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-printing/img3.webp 1x, ./images/desktop/3d-printing/img3@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-printing/img3.png 1x, ./images/desktop/3d-printing/img3@2x.png 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-printing/img3.webp 1x, ./images/tablet/3d-printing/img3@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-printing/img3.png 1x, ./images/tablet/3d-printing/img3@2x.png 2x">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-printing/img3.webp 1x, ./images/mobile/3d-printing/img3@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-printing/img3.png 1x, ./images/mobile/3d-printing/img3@2x.png 2x">
                    <img class="eb_we-create__img" src="#" alt="Виріб у вигляді вази">
                </picture>
                <p class="eb_we-create__item-name">ДЕКОР</p>
            </li>
            <li class="eb_we-create__item">
                <picture>
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-printing/img4.webp 1x, ./images/desktop/3d-printing/img4@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/3d-printing/img4.png 1x, ./images/desktop/3d-printing/img4@2x.png 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-printing/img4.webp 1x, ./images/tablet/3d-printing/img4@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/3d-printing/img4.png 1x, ./images/tablet/3d-printing/img4@2x.png 2x">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-printing/img4.webp 1x, ./images/mobile/3d-printing/img4@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/3d-printing/img4.png 1x, ./images/mobile/3d-printing/img4@2x.png 2x">
                    <img class="eb_we-create__img" src="#" alt="Куб з написом 3д">
                </picture>
                <p class="eb_we-create__item-name">КОРПОРАТИВНИЙ ДИЗАЙН</p>
            </li>
        </ul>
    </div>
</section>