<section class="YV-scanning-scan-process">
    <h3 class="YV-scanning-scan-process__title">ПРОЦЕС 3D СКАНУВАННЯ</h3>
    <ul class="YV-scanning-scan-process__list">
        <li class="YV-scanning-scan-process__item">
            Підготовка деталі
            до сканування</li>
        <li class="YV-scanning-scan-process__item">Створення сканів
            і їх обробка</li>
        <li class="YV-scanning-scan-process__item">Перетворення
            reverse engineering</li>
        <li class="YV-scanning-scan-process__item">Підготовка моделі
            до друку</li>
    </ul>
</section>

<!-- Order Form Button -->
<section class="YV-scanning-order-form-button">
    <button type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
</section>