<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Scanning</title>
</head>
<body>
    
<main class="YV-main">
<!-- Hero -->
<section class="YV-scanning-hero">
    <h2 class="YV-scanning-hero__title">3D СКАНУВАННЯ</h2>
    <p class="YV-scanning-hero__description">Процес створення 3D моделі по вже існуючій деталі може займати тривалий час. У деяких випадках процесс може займати
    багато годин.
    Але якщо виріб має складну геометрію і криволінійні поверхні, то велика ймовірність що перенести об'єкт в тривимірну
    цифрову модель може бути неможливо.</p>
    <p class="YV-scanning-hero__description">У такому випадку застосовуэться технологія 3D сканування. Цей метод оцифровки об'єктів дозволяє в короткі терміни
    отримати тривимірну модель деталі з потрібною точністю. Якщо від сканування потрібна проста комп'ютерна візуалізація, то
    допустима похибка сканування
    менше 2%.</p>
    <p class="YV-scanning-hero__description">Якщо потрібно сканування деталей з максимальною точністю, то використовуються спеціальні технології і постобробка
    отриманих
    сканів фахівцем.</p>

</section>

<!-- Scan Process -->

<section class="YV-scanning-scan-process">
    <h3 class="YV-scanning-scan-process__title">ПРОЦЕС 3D СКАНУВАННЯ</h3>
    <ul class="YV-scanning-scan-process__list">
        <li class="YV-scanning-scan-process__item">Підготовка деталі
        до сканування</li>
        <li class="YV-scanning-scan-process__item">Створення сканів
        і їх обробка</li>
        <li class="YV-scanning-scan-process__item">Перетворення
        reverse engineering</li>
        <li class="YV-scanning-scan-process__item">Підготовка моделі
        до друку</li>
    </ul>
</section>
<!-- Order Form Button -->
<section class="YV-scanning-order-form-button">
    <button type="button">ЗРОБИТИ ЗАМОВЛЕННЯ</button>
</section>


</main>

</body>
</html>