<section class="YV-scanning-scan-process section">
    <div class="YV-scanning-scan-process-container container">
        <h3 class="YV-scanning-scan-process__title">ПРОЦЕС 3D СКАНУВАННЯ</h3>
        <ul class="YV-scanning-scan-process__list list">
            <li class="YV-scanning-scan-process__item YV-process-one">
                <h4 class="YV-scanning-scan-process__item-title">Підготовка<span
                        class="YV-scanning-scan-process__item-titile-carryover-first">&nbsp деталі</span><span
                        class="YV-scanning-scan-process__item-titile-carryover-second">до сканування</span>
                </h4>
            </li>
            <li class="YV-scanning-scan-process__item YV-process-two">
                <h4 class="YV-scanning-scan-process__item-title">Створення<span
                        class="YV-scanning-scan-process__item-titile-carryover-first">&nbsp сканів</span>
                    <span class="YV-scanning-scan-process__item-titile-carryover-second">і їх обробка</span>
                </h4>
            </li>
            <li class="YV-scanning-scan-process__item YV-process-three">
                <h4 class="YV-scanning-scan-process__item-title">Перетворення
                    <span class="YV-scanning-scan-process__item-titile-carryover-first">&nbsp reverse</span> <span
                        class="YV-scanning-scan-process__item-titile-carryover-second">engineering</span>
                </h4>
            </li>
            <li class="YV-scanning-scan-process__item YV-process-four">
                <h4 class="YV-scanning-scan-process__item-title">Підготовка<span
                        class="YV-scanning-scan-process__item-titile-carryover-first">&nbsp моделі</span>
                    <span class="YV-scanning-scan-process__item-titile-carryover-second">до друку</span>
                </h4>
            </li>
        </ul>
    </div>
    
</section>

<!-- Order Form Button -->
<section class="YV-scanning-order-form-button container">
    <a href="#" class="main-button" >ЗРОБИТИ ЗАМОВЛЕННЯ</a>
</section>