<section class="YV-scanning-scan-process">
    <h3 class="YV-scanning-scan-process__title">ПРОЦЕС 3D СКАНУВАННЯ</h3>
    <ul class="YV-scanning-scan-process__list">
        <li class="YV-scanning-scan-process__item YV-process-one">
            <h4 class="YV-scanning-scan-process__item-title">Підготовка деталі
            до сканування</h4>
            </li>
        <li class="YV-scanning-scan-process__item YV-process-two">
            <h4 class="YV-scanning-scan-process__item-title">Створення сканів
            і їх обробка</h4></li>
        <li class="YV-scanning-scan-process__item YV-process-three">
            <h4 class="YV-scanning-scan-process__item-title">Перетворення
            reverse engineering</h4></li>
        <li class="YV-scanning-scan-process__item YV-process-four">
            <h4 class="YV-scanning-scan-process__item-title">Підготовка моделі
            до друку</h4></li>
    </ul>
</section>

<!-- Order Form Button -->
<section class="YV-scanning-order-form-button">
    <a href="#" class="main-button" >ЗРОБИТИ ЗАМОВЛЕННЯ</a>
</section>