<section class="ks-contakt-page-contakts ks-contakt-page__section">  
    <div class="container">
        <div class="ks-contakt-page__elements" >
            <div class="ks-contact-page__form-wrap" >
                <h3 class="ks-contakt-page__title-form" >ЗВ’ЯЖІТЬСЯ З НАМИ</h3>
                <form class="ks-contakt-page__form" name="contact-form" action="#">
                    <label class="ks-contakt-page__form-field">
                        Ім’я
                        <input type="text" name="user-name" required minlength="2" pattern="[a-zA-Zа-яёА-ЯЁ]+"
                            title="Имя должно содержать символы кирилицы или латиницы" class="ks-contakt-page__form-input" />
                    </label>
                    <label class="ks-contakt-page__form-field">
                        <input type="email" name="user-mail" placeholder="Email" required class="ks-contakt-page__form-input" />
                    </label>
                    <label class="ks-contakt-page__form-field">
                        Повідомлення
                    <div class="ks-textaria-wrap" >
                        <textarea class="ks-contakt-page__form-textaria" name="message" placeholder="Залишіть своє повідомлення"></textarea>
                        <svg class="ks-textaria__icon" width="22" height="20">
                        <use href="./images/sprite.svg#icon-clip"></use>
                        </svg>
                    </div>
                    </label>
                    <input class="visually-hidden" name="edd-file" type="file" />
                    <label class="ks-contakt-page__edd-file" >*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</label>
                    <button type="submit" class="main-button">Відправити</button>
                </form>
            </div>
            <div class="ks-contakt-page__contacts">
                <div class="ks-contact-wraper" > 
                    <h3 class="ks-contakt-page__title-contacts" >ТЕЛЕФОНИ</h3>
                    <ul class="ks-contakt-page__contacts-list">
                    <li class="ks-contakt-page__contacts-item">
                        <a class="ks-contakt-page__contacts-link" href="tel:+380957384551">+38 (095) -73-84-551</a>
                    </li>
                    <li class="ks-contakt-page__contacts-item">
                        <a class="ks-contakt-page__contacts-link" href="tel:+380980025235">+38 (098) -00-25-235</a>
                    </li>
                    </ul>
                </div>
                <div class="ks-contact-wraper" >
                    <h3 class="ks-contakt-page__title-contacts">Email</h3>
                    <ul class="ks-contakt-page__contacts-list">
                        <li class="ks-contakt-page__contacts-item">
                            <a class="ks-contakt-page__contacts-link"
                            href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="ks-contact-wraper" >
                    <h3 class="ks-contakt-page__title-contacts">Робочий час</h3>
                    <ul class="ks-contakt-page__contacts-list">
                        <li class="ks-contakt-page__contacts-item">Пн-пт: <br> з 8:00 до 19:00</li>
                        <li class="ks-contakt-page__contacts-item">Сб, Нд: <br> з 10:00 до 17:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>