<section class="ks-contakt-page-hero" >
    <div class="container">
        <h2 class="ks-contakt-page__title" >КОНТАКТИ</h2>
     <iframe class="ks-contakt-page__video" width="515" height="315" src="https://www.youtube.com/embed/z4DqRIrhP_E" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        <p class="ks-contakt-page__text" >Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом не на десяток хвилин.
     </p>
        <p class="ks-contakt-page__text" >Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D друку і
     просто помилуватися красою цього процесу.</p>
        <p class="ks-contakt-page__text" >Приємного перегляду!
        </p>
    </div>
</section>

