<section class="contakt-page-hero">
  <div class="container">
    <h2 class="contakt-page__title">КОНТАКТИ</h2>
    <div class="contakct-page__wrap">
      <div class="contakt-page__video">
        <iframe class="video" src="https://www.youtube.com/embed/z4DqRIrhP_E" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="contakct-page__text">
        <p class="contakt-page__text-item">Людина уперше побачивши процес 3D друку може легко захопитися спостереженням
          за
          цим процесом не на десяток хвилин.
        </p>
        <p class="contakt-page__text-item">Наша команда створює timelapse відео що б ви могли краще ознайомитися з
          технологією 3D друку і
          просто помилуватися красою цього процесу.</p>
        <p class="contakt-page__text-item emoji">Приємного перегляду! &#128521;
        </p>
      </div>
    </div>
  </div>
</section>