<footer class="footer-section">
  <div class="footer-container container">
    <a href="#" class="footer-logo">
      <img
        src="./images/logo-big.png"
        alt="логотип компанії"
        srcset="./images/logo-small.png, ./images/logo-medium.png 1.5x, ./images/logo-big.png 2x"
      />
    </a>
    <div class="contact-information">
      <nav>
        <ul class="footer-nav list">
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/index.html">Головна</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/3d-modeling.html">3D Моделювання</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/3d-scanning.html">3D Сканування</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/3d-printing.html">3D Друк</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/take-order.html">Замовити</a>
          </li>
          <li class="footer-nav__item">
            <a class="footer-nav__link" href="/contacts.html">Контакти</a>
          </li>
        </ul>
      </nav>
      <ul class="footer-social list">
        <li class="footer-social__item">
          <a class="footer-social__link" href="#">Instagram</a>
        </li>
        <li class="footer-social__item">
          <a class="footer-social__link" href="#">YouTube</a>
        </li>
        <li class="footer-social__item">
          <a class="footer-social__link" href="#">Facebook</a>
        </li>
      </ul>
      <address class="address">
        <div class="mail-address">
          <p class="mail-address__text">Email</p>
          <a class="mail-address__link" href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com</a
          >
        </div>
        <div class="phone-numbers">
          <p class="phone-numbers__text">Телефони</p>
          <ul class="number list">
            <li class="number__link-item">
              <a class="number__link" href="tel:+38(093)6432288">+38 (093) 643 22 88</a>
            </li>
            <li class="number__link-item">
              <a class="number__link" href="tel:+38(050)3454423">+38 (050) 345 44 23</a>
            </li>
          </ul>
        </div>
      </address>
    </div>
  </div>
</footer>
