<!-- HEADER -->
<header class="as-header">
  <div class="as-header-line">
    <!--LOGO-->
    <span class="logo__wrapper">
      <picture>
        <source
          media="(min-width: 1444px)"
          srcset="./images/logo-big.webp 1x, ./images/logo-big@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 1444px)"
          srcset="./images/logo-big.png 1x, ./images/logo-big@2x.png 2x"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/logo-medium.webp 1x, ./images/logo-medium@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/logo-medium.png 1x, ./images/logo-medium@2x.png 2x"
        />
        <source
          media="(min-width: 320px)"
          srcset="./images/logo-small.webp 1x, ./images/logo-small@2x.webp 2x"
          type="image/webp"
        />
        <source
          media="(min-width: 320px)"
          srcset="./images/logo-small.png 1x, ./images/logo-small@2x.png 2x"
        />
        <img src="#" alt="логотип компанії" />
      </picture>
      <a href="./index.html" class="as-logo-header"></a>
    </span>

    <!-- BURGER_MENU -->
    <button class="burger-button" type="button">
      <svg class="burger-button__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <!-- CALL_BUTTON -->
    <div class="header__call-button">
      <button class="call-button" type="button">
        <svg class="call-button__icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-tel"></use>
        </svg>
      </button>
      <div class="call-button__dropdown">
        <ul class="call-button__list list">
          <li class="call-button__item">
            <a class="call-button__link link" href="tel:+380936432288"> +38 (093) 643 22 88</a>
          </li>
          <li class="call-button__item">
            <a class="call-button__link link" href="tel:+380503454423"> +38 (050) 345 44 23</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- NAVIGATION -->
    <nav class="as-pagination">
      <ul class="as-pagination__list list">
        <li class="as-pagination__item">
          <a href="./index.html" class="as-pagination__link">Головна</a>
        </li>
        <li class="as-pagination__item">
          <a href="#" class="as-pagination__link">Послуги</a>
          <ul class="as-pagination__dropdown list">
            <li class="as-pagination__down-item">
              <a href="./3d-modeling.html" class="as-pagination__down-link link">3D Моделювання</a>
            </li>
            <li class="as-pagination__down-item">
              <a href="./3d-scanning.html" class="as-pagination__down-link link">3D Сканування</a>
            </li>
            <li class="as-pagination__down-item">
              <a href="./3d-printing.html" class="as-pagination__down-link link">3D Друк</a>
            </li>
          </ul>
        </li>
        <li class="as-pagination__item">
          <a href="./take-order.html" class="as-pagination__link link">Замовити</a>
        </li>
        <li class="as-pagination__item">
          <a href="./contacts.html" class="as-pagination__link link">Контакти</a>
        </li>
      </ul>
    </nav>

    <!-- LANG-BUTTON -->
    <div class="header__lang-button">
      <button class="lang-button" lang="en">eng</button>
      <div class="lang-button__dropdown">
        <ul class="lang-button__list list">
          <li class="lang-button__item">
            <a href="#" class="lang-button__link link" lang="en">eng</a>
          </li>
          <li class="lang-button__item">
            <a href="#" class="lang-button__link link" lang="en">ukr</a>
          </li>
          <li class="lang-button__item">
            <a href="#" class="lang-button__link link" lang="en">rus</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- CALL-lIST -->

    <ul class="as-call-list">
      <li class="as-call-list__item">
        <a class="as-call-list__link link" href="tel:+380936432288">
          <svg class="as-call-list__icon" width="14" height="24">
            <use href="./images/sprite.svg#icon-tel"></use>
          </svg>
          +38 (093) 643 22 88</a
        >
      </li>
      <li class="as-call-list__item">
        <a class="as-call-list__link link" href="tel:+380503454423">
          <svg class="as-call-list__icon" width="14" height="24">
            <use href="./images/sprite.svg#icon-tel"></use>
          </svg>
          +38 (050) 345 44 23</a
        >
      </li>
    </ul>
  </div>
</header>
