<div class="mobile-menu" data-menu>
  <section class="mobile-menu__header">
    <div class="container header-line">
      <!--LOGO-->

      <a href="./index.html" class="logo-header"
        ><img
          class="logo"
          srcset="
            ./images/logo-small.png  101w,
            ./images/logo-medium.png 125w,
            ./images/logo-big.png    192w
          "
          sizes="(min-width: 1440px) 192px,
            (min-width: 768px) 125px,
            (min-width: 320px) 101px,
            192px"
          src="./images/logo-big.png"
          alt="Логотип компанії"
      /></a>

      <!-- CLOSE_MENU -->
      <button class="burger-button close-button__icon" type="button" data-menu-close>
        <svg class="burger-button__icon" width="23" height="23">
          <use href="./images/sprite.svg#icon-close-cross"></use>
        </svg>
      </button>

      <!-- CALL_BUTTON -->
      <div class="header__call-button">
        <button class="call-button" type="button">
          <svg class="call-button__icon" width="24" height="24">
            <use href="./images/sprite.svg#icon-tel"></use>
          </svg>
        </button>
        <div class="call-button__dropdown">
          <ul class="call-button__list">
            <li class="call-button__item">
              <a class="call-button__link" href="tel:+380936432288"> +38 (093) 643 22 88</a>
            </li>
            <li class="call-button__item">
              <a class="call-button__link" href="tel:+380503454423"> +38 (050) 345 44 23</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- LANG-BUTTON -->
      <div class="header__lang-button">
        <button class="lang-button" lang="en">eng</button>
        <div class="lang-button__dropdown">
          <ul class="lang-button__list list">
            <li class="lang-button__item">
              <a href="#" class="lang-button__link" lang="en">eng</a>
            </li>
            <li class="lang-button__item">
              <a href="#" class="lang-button__link" lang="en">ukr</a>
            </li>
            <li class="lang-button__item">
              <a href="#" class="lang-button__link" lang="en">rus</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- CALL-lIST -->

      <ul class="call-list">
        <li class="call-list__item">
          <a class="call-list__link link" href="tel:+380936432288">
            <svg class="call-list__icon" width="14" height="24">
              <use href="./images/sprite.svg#icon-tel"></use>
            </svg>
            +38 (093) 643 22 88</a
          >
        </li>
        <li class="call-list__item">
          <a class="call-list__link link" href="tel:+380503454423">
            <svg class="call-list__icon" width="14" height="24">
              <use href="./images/sprite.svg#icon-tel"></use>
            </svg>
            +38 (050) 345 44 23</a
          >
        </li>
      </ul>
    </div>
  </section>

  <!-- NAVIGATION -->
  <div class="container">
    <nav class="backdrop__nav">
      <ul class="backdrop__list">
        <li class="backdrop__item">
          <a href="./index.html" class="backdrop__link backdrop__link--active">Головна</a>
        </li>
        <li class="backdrop__item">
          <p class="backdrop__text">Послуги</p>
        </li>
        <li class="backdrop__item-servises">
          <a href="./3d-modeling.html" class="backdrop__link-servises">3D Моделювання</a>
        </li>
        <li class="backdrop__item-servises">
          <a href="./3d-scanning.html" class="backdrop__link-servises">3D Сканування</a>
        </li>
        <li class="backdrop__item-servises">
          <a href="./3d-printing.html" class="backdrop__link-servises">3D Друк</a>
        </li>
        <li class="backdrop__item">
          <a href="./take-order.html" class="backdrop__link">Замовити</a>
        </li>
        <li class="backdrop__item">
          <a href="./contacts.html" class="backdrop__link">Контакти</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
