<section class="gallery gallery_section">
    <div class="container">
        <h2 class="gallery-title" id="gallery-section">Галерея</h2>
        <ul class="gallery__list list">
            <li class="gallery__list-card">
                <picture>
                    <source media="(min-width: 1444px)" srcset="
              ./images/desktop/main/gallery/img1.webp    1x,
              ./images/desktop/main/gallery/img1@2x.webp 2x
            " type="image/webp" />
                    <source media="(min-width: 1444px)" srcset="
              ./images/desktop/main/gallery/img1.jpg    1x,
              ./images/desktop/main/gallery/img1@2x.jpg 2x
            " />

                    <source media="(min-width: 768px)" srcset="
              ./images/tablet/main/gallery/img1.webp    1x,
              ./images/tablet/main/gallery/img1@2x.webp 2x
            " type="image/webp" />
                    <source media="(min-width: 768px)" srcset="
              ./images/tablet/main/gallery/img1.jpg    1x,
              ./images/tablet/main/gallery/img1@2x.jpg 2x
            " />

                    <source media="(max-width: 767px)" srcset="
              ./images/mobile/main/gallery/img1.webp    1x,
              ./images/mobile/main/gallery/img1@2x.webp 2x
            " type="image/webp" />
                    <source media="(max-width: 767px)" srcset="
              ./images/mobile/main/gallery/img1.jpg    1x,
              ./images/mobile/main/gallery/img1@2x.jpg 2x
            " />

                    <img class="about-list-img" src="#" alt="Інженерні методи аналізу та контролю якості" />
                </picture>
                <div class="gallery__card-content">
                    <h4 class="gallery__card-title">Інженерні методи аналізу та контролю якості</h4>
                </div>
            </li>
            <li class="gallery__list-card">
                <picture>
                    <source media="(min-width: 1444px)" srcset="
              ./images/desktop/main/gallery/img2.webp    1x,
              ./images/desktop/main/gallery/img2@2x.webp 2x
            " type="image/webp" />
                    <source media="(min-width: 1444px)" srcset="
              ./images/desktop/main/gallery/img2.jpg    1x,
              ./images/desktop/main/gallery/img2@2x.jpg 2x
            " />

                    <source media="(min-width: 768px)" srcset="
              ./images/tablet/main/gallery/img2.webp    1x,
              ./images/tablet/main/gallery/img2@2x.webp 2x
            " type="image/webp" />
                    <source media="(min-width: 768px)" srcset="
              ./images/tablet/main/gallery/img2.jpg    1x,
              ./images/tablet/main/gallery/img2@2x.jpg 2x
            " />

                    <source media="(max-width: 767px)" srcset="
              ./images/mobile/main/gallery/img2.webp    1x,
              ./images/mobile/main/gallery/img2@2x.webp 2x
            " type="image/webp" />
                    <source media="(max-width: 767px)" srcset="
              ./images/mobile/main/gallery/img2.jpg    1x,
              ./images/mobile/main/gallery/img2@2x.jpg 2x
            " />

                    <img class="about-list-img" src="#" alt="Високоточне 3D сканування" />
                </picture>
                <div class="gallery__card-content">
                    <h4 class="gallery__card-title">Високоточне 3D сканування</h4>
                </div>
            </li>
            <li class="gallery__list-card">
                <picture>
                    <source media="(min-width: 1444px)" srcset="
              ./images/desktop/main/gallery/img3.webp    1x,
              ./images/desktop/main/gallery/img3@2x.webp 2x
            " type="image/webp" />
                    <source media="(min-width: 1444px)" srcset="
              ./images/desktop/main/gallery/img3.jpg    1x,
              ./images/desktop/main/gallery/img3@2x.jpg 2x
            " />

                    <source media="(min-width: 768px)" srcset="
              ./images/tablet/main/gallery/img3.webp    1x,
              ./images/tablet/main/gallery/img3@2x.webp 2x
            " type="image/webp" />
                    <source media="(min-width: 768px)" srcset="
              ./images/tablet/main/gallery/img3.jpg    1x,
              ./images/tablet/main/gallery/img3@2x.jpg 2x
            " />

                    <source media="(max-width: 767px)" srcset="
              ./images/mobile/main/gallery/img3.webp    1x,
              ./images/mobile/main/gallery/img3@2x.webp 2x
            " type="image/webp" />
                    <source media="(max-width: 767px)" srcset="
              ./images/mobile/main/gallery/img3.jpg    1x,
              ./images/mobile/main/gallery/img3@2x.jpg 2x
            " />

                    <img class="about-list-img" src="#" alt="Створення точної копії на базі сканування reverse engineering" />
                </picture>
                <div class="gallery__card-content">
                    <h4 class="gallery__card-title">
                        Створення точної копії на базі сканування reverse engineering
                    </h4>
                </div>
            </li>
            <li class="gallery__list-card">
                <picture>
                    <source media="(min-width: 1444px)" srcset="
              ./images/desktop/main/gallery/img4.webp    1x,
              ./images/desktop/main/gallery/img4@2x.webp 2x
            " type="image/webp" />
                    <source media="(min-width: 1444px)" srcset="
              ./images/desktop/main/gallery/img4.jpg    1x,
              ./images/desktop/main/gallery/img4@2x.jpg 2x
            " />

                    <source media="(min-width: 768px)" srcset="
              ./images/tablet/main/gallery/img4.webp    1x,
              ./images/tablet/main/gallery/img4@2x.webp 2x
            " type="image/webp" />
                    <source media="(min-width: 768px)" srcset="
              ./images/tablet/main/gallery/img4.jpg    1x,
              ./images/tablet/main/gallery/img4@2x.jpg 2x
            " />

                    <source media="(max-width: 767px)" srcset="
              ./images/mobile/main/gallery/img4.webp    1x,
              ./images/mobile/main/gallery/img4@2x.webp 2x
            " type="image/webp" />
                    <source media="(max-width: 767px)" srcset="
              ./images/mobile/main/gallery/img4.jpg    1x,
              ./images/mobile/main/gallery/img4@2x.jpg 2x
            " />

                    <img class="about-list-img" src="#" alt="Всі цикли 3D проектування, створення фотореалістичних цифрових моделей" />
                </picture>
                <div class="gallery__card-content">
                    <h4 class="gallery__card-title gallery__card-title_margin-bot">
                        Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>