<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
   <div class="container as-main-hero">
      <h1 class="as-main-hero__title">Інженерна, конструкторська
та дизайнерська робота</h1>
      <ul class="as-main-hero__photos">
        <li class="as-main-hero__item">
          <picture><img src="./images/mobile/main/hero/img1.jpg" alt="белый робот на гусеницах" class="as-main-hero__img" /></picture>
        </li>
        <li class="as-main-hero__item">
          <picture
            ><img src="./images/mobile/main/hero/img2.jpg" alt="две дизайнерские лампы - белая и оранжевая" class="as-main-hero__img"
          /></picture>
        </li>
        <li class="as-main-hero__item">
          <picture
            ><img src="./images/mobile/main/hero/img3.jpg" alt="фигурка черепа" class="as-main-hero__img"
          /></picture>
        </li>
      </ul> 
      <a class="as-main-hero__link">
          <svg class="as-main-hero__icon"></svg>>
              <use></use>
      </a>
      <p class="as-main-hero__slogan">Ми втілюємо ідеї в реальність</p>
      </section>
</body>
</html>