
    <section class="section as-main-hero">
   <div class="container as-main-hero__container">
      <h1 class="as-main-hero__title">Інженерна, конструкторська та дизайнерська робота</h1>
      <ul class="as-main-hero__photos">
        <li class="as-main-hero__item">
          <picture> 
              <source media="(min-width: 1444px)"
                        srcset="./images/desktop/main/hero/img1.webp 1x ./images/desktop/main/hero/img1@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/main/hero/img1.jpg 1x, ./images/desktop/main/hero/img1@2x.jpg 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/hero/img1.webp 1x, ./images/tablet/main/hero/img1@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/hero/img1.jpg 1x, ./images/tablet/main/hero/img1@2x.jpg 2x">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/main/hero/img1.webp 1x, ./images/mobile/main/hero/img1@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/main/hero/img1.jpg 1x, ./images/mobile/main/hero/img1.jpg 2x">
                        <img src="./images/mobile/main/hero/img1.jpg" alt="белый робот на гусеницах" class="as-main-hero__img" /></picture>
        </li>
        <li class="as-main-hero__item">
          <picture
            ><source media="(min-width: 1444px)"
                        srcset="./images/desktop/main/hero/img2.webp 1x ./images/desktop/main/hero/img2@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/main/hero/img2.jpg 1x, ./images/desktop/main/hero/img2@2x.jpg 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/hero/img2.webp 1x, ./images/tablet/main/hero/img2@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/hero/img2.jpg 1x, ./images/tablet/main/hero/img2@2x.jpg 2x">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/main/hero/img2.webp 1x, ./images/mobile/main/hero/img2@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/main/hero/img2.jpg 1x, ./images/mobile/main/hero/img2.jpg 2x">
                        <img src="./images/mobile/main/hero/img2.jpg" alt="две дизайнерские лампы - белая и оранжевая" class="as-main-hero__img"
          /></picture>
        </li>
        <li class="as-main-hero__item">
          <picture
            ><source media="(min-width: 1444px)"
                        srcset="./images/desktop/main/hero/img3.webp 1x ./images/desktop/main/hero/img3@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 1444px)"
                        srcset="./images/desktop/main/hero/img3.jpg 1x, ./images/desktop/main/hero/img3@2x.jpg 2x">

                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/hero/img3.webp 1x, ./images/tablet/main/hero/img3@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 768px)"
                        srcset="./images/tablet/main/hero/img3.jpg 1x, ./images/tablet/main/hero/img3@2x.jpg 2x">

                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/main/hero/img3.webp 1x, ./images/mobile/main/hero/img3@2x.webp 2x"
                        type="image/webp">
                    <source media="(min-width: 320px)"
                        srcset="./images/mobile/main/hero/img3.jpg 1x, ./images/mobile/main/hero/img3.jpg 2x">
                        <img src="./images/mobile/main/hero/img3.jpg" alt="фигурка черепа" class="as-main-hero__img"
          /></picture>
        </li>
      </ul> 
      <a class="as-main-hero__link scrollto" href="#gallery-section" elementClick>
          <svg class="as-main-hero__icon"> 
              <use href="./images/sprite.svg#icon-arrow-down" ></use>
            </svg>   
      </a>
      <p class="as-main-hero__slogan">Ми втілюємо ідеї в реальність</p>
      </section>
