<section class="more-photo more-photo_section">
    <div class="container">
        <h2 class="more-photo__title">БІЛЬШЕ ФОТО</h2>
        <ul class="masonry">

            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img1@2x.jpg">
                    <picture id="popup">

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img1.webp 1x, ./images/desktop/main/more-photos/img1@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img1.jpg 1x, ./images/desktop/main/more-photos/img1@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img1.webp 1x, ./images/tablet/main/more-photos/img1@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img1.jpg 1x, ./images/tablet/main/more-photos/img1@2x.jpg 2x">

                        <source media="(max-width: 767px)" srcset="./images/mobile/main/more-photos/img1.webp 1x, ./images/mobile/main/more-photos/img1@2x.webp 2x" type="image/webp">
                        <source media="(max-width: 767px)" srcset="./images/mobile/main/more-photos/img1.jpg 1x, ./images/mobile/main/more-photos/img1@2x.jpg 2x">

                        <img class="about-list-img" src="#" alt="модель для 3d-принтера" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img2@2x.jpg">
                    <picture id="popup">

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img2.webp 1x, ./images/desktop/main/more-photos/img2@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img2.jpg 1x, ./images/desktop/main/more-photos/img2@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img2.webp 1x, ./images/tablet/main/more-photos/img2@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img2.jpg 1x, ./images/tablet/main/more-photos/img2@2x.jpg 2x">

                        <source media="(max-width: 767px)" srcset="./images/mobile/main/more-photos/img2.webp 1x, ./images/mobile/main/more-photos/img2@2x.webp 2x" type="image/webp">
                        <source media="(max-width: 767px)" srcset="./images/mobile/main/more-photos/img2.jpg 1x, ./images/mobile/main/more-photos/img2@2x.jpg 2x">

                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img3@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img3.webp 1x, ./images/desktop/main/more-photos/img3@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img3.jpg 1x, ./images/desktop/main/more-photos/img3@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img3.webp 1x, ./images/tablet/main/more-photos/img3@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img3.jpg 1x, ./images/tablet/main/more-photos/img3@2x.jpg 2x">

                        <source media="(max-width: 767px)" srcset="./images/mobile/main/more-photos/img3.webp 1x, ./images/mobile/main/more-photos/img3@2x.webp 2x" type="image/webp">
                        <source media="(max-width: 767px)" srcset="./images/mobile/main/more-photos/img3.jpg 1x, ./images/mobile/main/more-photos/img3@2x.jpg 2x">

                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель - робот" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img4@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img4.webp 1x, ./images/desktop/main/more-photos/img4@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img4.jpg 1x, ./images/desktop/main/more-photos/img4@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img4.webp 1x, ./images/tablet/main/more-photos/img4@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img4.jpg 1x, ./images/tablet/main/more-photos/img4@2x.jpg 2x">



                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель - череп" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img5@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img5.webp 1x, ./images/desktop/main/more-photos/img5@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img5.jpg 1x, ./images/desktop/main/more-photos/img5@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img5.webp 1x, ./images/tablet/main/more-photos/img5@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img5.jpg 1x, ./images/tablet/main/more-photos/img5@2x.jpg 2x">



                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель - танк" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img6@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img6.webp 1x, ./images/desktop/main/more-photos/img6@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img6.jpg 1x, ./images/desktop/main/more-photos/img6@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img6.webp 1x, ./images/tablet/main/more-photos/img6@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img6.jpg 1x, ./images/tablet/main/more-photos/img6@2x.jpg 2x">



                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель - светильники" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img7@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img7.webp 1x, ./images/desktop/main/more-photos/img7@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img7.jpg 1x, ./images/desktop/main/more-photos/img7@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img7.webp 1x, ./images/tablet/main/more-photos/img7@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img7.jpg 1x, ./images/tablet/main/more-photos/img7@2x.jpg 2x">



                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель - машина" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img8@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img8.webp 1x, ./images/desktop/main/more-photos/img8@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img8.jpg 1x, ./images/desktop/main/more-photos/img8@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img8.webp 1x, ./images/tablet/main/more-photos/img8@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img8.jpg 1x, ./images/tablet/main/more-photos/img8@2x.jpg 2x">



                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель - здание" />
                </a>
                </picture>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img9@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img9.webp 1x, ./images/desktop/main/more-photos/img9@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img9.jpg 1x, ./images/desktop/main/more-photos/img9@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img9.webp 1x, ./images/tablet/main/more-photos/img9@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img9.jpg 1x, ./images/tablet/main/more-photos/img9@2x.jpg 2x">



                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель - светильник в виде гриба" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img10@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img10.webp 1x, ./images/desktop/main/more-photos/img10@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img10.jpg 1x, ./images/desktop/main/more-photos/img10@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img10.webp 1x, ./images/tablet/main/more-photos/img10@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img10.jpg 1x, ./images/tablet/main/more-photos/img10@2x.jpg 2x">



                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img11@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img11.webp 1x, ./images/desktop/main/more-photos/img11@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img11.jpg 1x, ./images/desktop/main/more-photos/img11@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img11.webp 1x, ./images/tablet/main/more-photos/img11@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img11.jpg 1x, ./images/tablet/main/more-photos/img11@2x.jpg 2x">



                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель - машина" />
                    </picture>
                </a>
            </li>


            <li class="masonry-item">
                <a class="masonry-link" href="./images/tablet/main/more-photos/img12@2x.jpg">
                    <picture>

                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img12.webp 1x, ./images/desktop/main/more-photos/img12@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 1444px)" srcset="./images/desktop/main/more-photos/img12.jpg 1x, ./images/desktop/main/more-photos/img12@2x.jpg 2x">

                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img12.webp 1x, ./images/tablet/main/more-photos/img12@2x.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="./images/tablet/main/more-photos/img12.jpg 1x, ./images/tablet/main/more-photos/img12@2x.jpg 2x">



                        <img class="about-list-img" src="#" alt="3d-печатная архитектурная модель" />
                    </picture>
                </a>
            </li>

        </ul>
        <div class="more-photo__loader">
            <svg class="more-photo__icon-loading">
            <use href="./images/sprite.svg#icon-loading"></use>
        </svg>
        </div>
    </div>
</section>