<section class="take-order__contacts">
  <div class="take-order__conteiner conteiner">
    <h2 class="take-order__contacts-title">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
    <form class="take-order__form" name="contact-form" action="#">
      <label class="take-order__form-field">
        <input
          class="take-order__form-input"
          type="text"
          name="user-name"
          placeholder="Ім’я"
          required
          minlength="2"
          pattern="[a-zA-Zа-яёА-ЯЁ]+"
          title="Имя должно содержать символы кирилицы или латиницы"
        />
      </label>

      <label class="take-order__form-field">
        <input
          class="take-order__form-input"
          type="email"
          name="user-mail"
          placeholder="email"
          required
        />
      </label>

      <label class="take-order__form-field" for="plastic-types"></label>
      <select class="take-order__form-list" id="plastic-types" name="plastic-types">
        <option class="take-order__form-option" selected="selected">Виды пластика</option>
        <option class="take-order__form-option" value="PLA">PLA</option>
        <option class="take-order__form-option" value="ABS">ABS</option>
        <option class="take-order__form-option" value="PVA">PVA</option>
        <option class="take-order__form-option" value="Nylone">Nylone</option>
        <option class="take-order__form-option" value="HIPS">HIPS</option>
      </select>

      <label class="take-order__form-field" for="quality"></label>
      <select class="take-order__form-list" id="quality" name="quality">
        <option selected="selected">Якість друку</option>
        <option value="300">300 мікрон</option>
        <option value="200">200 мікрон</option>
        <option value="100">100 мікрон</option>
        <option value="help">Труднощі у виборі - ми допоможемо</option>
      </select>

      <label class="take-order__form-field" for="color"></label>
      <select class="take-order__form-list" id="color" name="color">
        <option selected="selected">Колір</option>
        <option value="White">White</option>
        <option value="Black">Black</option>
        <option value="Blue">Blue</option>
        <option value="Yelow">Yelow</option>
        <option value="Green">Green</option>
        <option value="Orange">Orange</option>
        <option value="Red">Red</option>
      </select>

      <label class="">
        Повідомлення
        <textarea
          class="take-order__message"
          name="message"
          placeholder="Залишіть своє повідомлення"
        ></textarea>
        <input class="take-order__message-input" name="edd-file" type="file" />
        <p class="take-order__message-text">
          *Прикріпіть зображення / креслення / STL / Obj / CAD-модель
        </p>
      </label>
      <button class="main-button take-order__btn" type="submit">Відправити</button>
    </form>

    <div class="take-order__contact-data">
      <p class="take-order__contact-data-text">ТЕЛЕФОНИ</p>
      <ul class="take-order__contact-data-list list">
        <li class="take-order__contact-data-item">
          <a class="take-order__contact-data-link link" href="tel:+380957384551"
            >+38 (095) -73-84-551</a
          >
        </li>
        <li class="take-order__contact-data-item">
          <a class="take-order__contact-data-link link" href="tel:+380980025235"
            >+38 (098) -00-25-235</a
          >
        </li>
      </ul>

      <p class="take-order__contact-data-text">Email</p>
      <ul class="take-order__contact-data-list list">
        <li class="take-order__contact-data-item">
          <a class="take-order__contact-data-link link" href="mailto:3dfreedom.info@gmail.com"
            >3dfreedom.info@gmail.com</a
          >
        </li>
      </ul>

      <p class="take-order__contact-data-text">Робочий час</p>
      <ul class="take-order__contact-data-list list">
        <li class="take-order__contact-data-item">Пн-Пт: <span>З 8:00 До 19:00</span></li>
        <li class="take-order__contact-data-item">Сб, Нд: <span>З 10:00 До 17:00</span></li>
      </ul>
    </div>
  </div>
</section>
