<section class="take-order__hero">
  <div class="take-order__hero-container container">
    <h2 class="take-order__hero-title">Зробити замовлення</h2>

    <div class="take-order__hero-wrapper">
      <div class="take-order__background" id="image" aria-label="Приклад роботи"></div>
      <div class="take-order__hero-text-wrapper">
        <p class="take-order__hero-text">
          На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
        </p>
        <p class="take-order__hero-text">
          Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі
          ваші запитання.
        </p>
      </div>
    </div>
  </div>
</section>
