.logo {
  display: block;
  width: 100px;
  height: 25px;
  @include min-width('medium') {
    width: 125px;
    height: 31px;
  }
  @include min-width('large') {
    width: 192px;
    height: 48px;
  }
}
