.procesess-section.section {
  padding-bottom: 76px;
}

.processes__item {
  margin-top: 52px;
}

.processes__img {
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.15));
  border-radius: 50px 0px;
}

.processes__description-part {
  margin-top: 16px;
}

.description-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #487996;
}

.processes__description-part {
  color: var(--text-color);
}

.order-button {
  margin-top: 24px;
}

//TABLET

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .processes__description-part:first-child {
    margin-top: 0;
  }

  .processes__description-part {
    width: 381px;
  }

  .processes__description {
    display: flex;
    flex-direction: column;
  }

  .processes__item {
    display: flex;
  }

  .processes__img {
    margin-right: 20px;
  }

  .order-button {
    width: 277px;
    margin-top: 52px;
  }
}

// DESKTOP

@media screen and (min-width: 1444px) {
  .procesess-section.section {
    padding-bottom: 100px;
  }

  .processes__item {
    display: flex;
    margin-top: 100px;
  }

  .processes__description {
    display: flex;
    flex-direction: column;
  }

  .processes__description-part {
    width: 720px;
    font-size: 18px;
    line-height: 1.44;
  }

  .description-title {
    font-size: 18px;
    line-height: 1.28;
  }

  .order-button {
    font-size: 16px;
    line-height: 1.5;
  }

  .processes__description-part:not(:first-child) {
    margin-top: 24px;
  }

  .processes__description-part:first-child {
    margin-top: 0;
  }

  .processes__img {
    margin-right: 78px;
  }

  .order-button {
    width: 277px;
    margin-top: 52px;
  }
}
