.lo-create-model {
  padding-top: 0;
  padding-bottom: 76px;

  @include min-width('large') {
    padding-bottom: 100px;
  }
}

.lo-create-model__title {
  margin-bottom: 16px;
  padding-right: 18px;
  @include font(16px, 700, 20px);
  color: var(--accent-color);

  @include min-width('medium') {
    margin-bottom: 24px;
    padding-right: 50px;
    @include font(24px, 700, 30px);
  }

  @include min-width('large') {
    @include font(36px, 700, 45px);
    padding-right: 160px;
    margin-bottom: 52px;
  }
}

.lo-create-model__gallery {
  @include flex-center($jc: space-between);
  margin-top: -16px;
  margin-left: -10px;
  margin-bottom: 52px;

  @include min-width('medium') {
    margin-top: -24px;
    margin-left: -12px;
  }

  @include min-width('large') {
    margin-top: -52px;
    margin-left: -20px;
    margin-bottom: 100px;
  }
}

.lo-create-model__img {
  flex-basis: calc(100% / 2 - 10px);
  margin-top: 16px;
  margin-left: 10px;

  @include min-width('medium') {
    flex-basis: calc(100% / 4 - 12px);
    margin-top: 24px;
    margin-left: 12px;
    // width: 153px;
    // height: 134px;
  }

  @include min-width('large') {
    flex-basis: calc(100% / 4 - 20px);
    margin-top: 52px;
    margin-left: 20px;
    // width: 250px;
    // height: 219px;
  }
}

.img-border-left {
  border-radius: 0px 0px 0px 50px;
}

.img-border-right {
  border-radius: 50px 0px;
}

.lo-order-form-btn {
  @include font(16px, 700, 24px);

  @include min-width('medium') {
    margin: 0 auto;
  }
}
