.procesess-section.section {
  padding-bottom: 76px;
}

.processes__img {
  filter: drop-shadow(20px 20px 80px rgba(0, 0, 0, 0.15));
  border-radius: 50px 0px;
  margin-top: 57px;
}

.processes__description-part:not(:last-child) {
  margin-bottom: 16px;
}

.processes__description-part:first-child {
  margin-top: 16px;
}

.description-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  color: #487996;
}

.processes__description-part {
  color: var(--text-color);
}

.order-button {
  display: block;
  cursor: pointer;
  background-color: var(--btn-footer-bg-color);
  width: 280px;
  height: 56px;
  padding: 16px 0;
  border-radius: 30.5px;
  outline: none;
  box-shadow: var(--btn-box-shadow);
  @include font(15px, 700, 24px);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);

  margin-top: 24px;

  &:hover,
  &:focus {
    background-color: var(--icon-pseudoelement-color);
    color: #fff;
  }
}

//TABLET

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .processes__description-part:first-child {
    margin-top: 0;
  }

  .processes__description-part {
    width: 381px;
  }

  .processes__description {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }

  .processes__item {
    display: flex;
  }

  .processes__img {
    margin-right: 20px;
  }

  .order-button {
    width: 277px;
    margin-top: 55px;
  }
}

// DESKTOP

@media screen and (min-width: 1444px) {
  .processes__item {
    display: flex;
    margin-top: 100px;
  }

  .processes__description {
    display: flex;
    flex-direction: column;
    margin-left: 78px;
  }

  .processes__description-part {
    width: 720px;
    font-size: 18px;
    line-height: 1.44;
  }

  .description-title {
    font-size: 18px;
    line-height: 1.28;
  }

  .order-button {
    font-size: 16px;
    line-height: 1.5;
  }

  .processes__description-part:not(:last-child) {
    margin-bottom: 24px;
  }

  .processes__description-part:first-child {
    margin-top: 0;
  }

  .processes__img {
    margin: 0 auto;
  }

  .order-button {
    width: 277px;
    margin-top: 52px;
    margin-left: 78px;
  }
}
