.ks-contakt-page__section {
  margin-top: 52px;
}

.ks-contakt-page__title-form {
  margin-bottom: 8px;
}

.ks-contakt-page__form {
  max-width: 280px;
}

.ks-contakt-page__form {
  display: flex;
  flex-direction: column;
}

.ks-contakt-page__form-field {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  color: var(--text-color);
}

.ks-contakt-page__form-field:nth-child(-n + 2) {
  margin-bottom: 44px;
}

.ks-contakt-page__form-input {
  display: none;
  width: 100%;
  max-width: 280px;
  height: 24px;
  border: none;
  margin-top: 8px;
  background-color: transparent;
  outline: none;
}

.ks-contakt-page__form-field:hover > .ks-contakt-page__form-input,
.ks-contakt-page__form-field:focus > .ks-contakt-page__form-input {
  display: block;
}

.ks-contakt-page__form-input:focus,
.ks-contakt-page__form-input:hover {
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

.ks-contakt-page__form-field:nth-child(-n + 2)::after {
  content: '';
  display: block;
  margin-top: 4px;
  border: 1px solid var(--accent-color);
}

.ks-contakt-page__form-input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
}

.ks-contakt-page__form-textaria::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.43;
  color: var(--form-placeholder-color);
}

.ks-contakt-page__form-textaria {
  width: 100%;
  height: 199px;
  margin-top: 4px;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
  border: 1px solid var(--accent-color);
  border-radius: 50px 0px;
  resize: none;
  overflow: hidden;
  background-color: transparent;
  outline: none;
}

.ks-contakt-page__form-textaria:focus,
.ks-contakt-page__form-textaria:hover {
  border: 2px solid var(--accent-color);
  border-radius: 50px 0px;
}

.ks-textaria-wrap {
  position: relative;
  height: 222px;
}

.ks-textaria__icon {
  position: absolute;
  padding: 0;
  bottom: 23px;
  right: 22px;
  cursor: pointer;
  fill: #cdcdcd;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.ks-contakt-page__add-file {
  font-weight: normal;
  margin-top: 4px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--form-placeholder-color);
}

.ks-contakt-page__contacts {
  max-width: 280px;
  margin-top: 52px;
  margin-bottom: 76px;
}

.ks-contact-wraper:not(:last-child) {
  margin-bottom: 24px;
}

.ks-contakt-page__title-contacts {
  margin-bottom: 8px;
}

.ks-contakt-page__contacts-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color);
}

.ks-contakt-page__contacts-item:not(:last-child) {
  margin-bottom: 8px;
}

.ks-contakt-page__contacts-list:not(:last-child) {
  margin-bottom: 24px;
}

.contact-breakword {
  display: block;
}

@media screen and (min-width: 768px) {
  .ks-contakt-page__form {
    max-width: 420px;
    margin: 0 auto;
  }
  .ks-contakt-page__title-form {
    margin-bottom: 7px;
    text-align: center;
  }
  .ks-contakt-page__form-input {
    height: 20px;
    max-width: 420px;
  }
  .ks-textaria__icon {
    bottom: 18px;
    right: 20px;
  }
  .ks-contakt-page__add-file {
    margin-bottom: 44px;
  }
  .main-button {
    align-self: flex-end;
  }
  .ks-contakt-page__elements {
    max-width: 685px;
  }
  .ks-contakt-page__contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
    max-width: 648px;
  }
  .contact-page__main-button {
    max-width: 177px;
  }
  .ks-contact-wraper:not(:last-child) {
    margin-bottom: 0;
  }
  .contact-breakword {
    text-align: end;
  }
}

@media screen and (min-width: 1444px) {
  .ks-contakt-page__elements {
    display: flex;
    justify-content: space-between;
    max-width: 1102px;
  }
  .ks-contakt-page__section {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .ks-contakt-page__contacts {
    display: block;
    margin: 0;
    width: 515px;
  }
  .ks-contact-page__form-wrap {
    order: 2;
    width: 515px;
  }
  .ks-contakt-page__form {
    max-width: 515px;
  }
  .ks-contakt-page__form-field {
    font-size: 18px;
    line-height: 1.11;
  }
  .ks-contakt-page__form-input {
    max-width: 515px;
  }
  .ks-contakt-page__contacts-item {
    font-size: 18px;
    line-height: 1.11;
  }
  .ks-contact-wraper:nth-child(-n + 2) {
    margin-bottom: 68px;
  }
  .ks-contakt-page__title-contacts {
    margin-bottom: 18px;
  }
  .ks-contakt-page__contacts-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .ks-contakt-page__form-input::placeholder {
    font-size: 18px;
    line-height: 1.11;
  }
  .ks-contakt-page__form-textaria::placeholder {
    font-size: 18px;
    line-height: 1.11;
  }
  .ks-contakt-page__add-file {
    font-size: 18px;
    line-height: 1.11;
    margin-bottom: 24px;
  }
  .contact-breakword {
    display: inline;
    text-align: start;
  }
}
