.mobile-menu {
  @include min-width('small') {
    background-image: url(../images/mobile/img1.png);
    @include retina('../images//mobile/img1@2x.png', 'small');
    background-size: map-get($min-widths, 'small');
  }
  @include min-width('medium') {
    background-image: url(../images/tablet/img1.png);
    @include retina('../images//tablet/img1@2x.png', 'medium');
    background-size: map-get($min-widths, 'medium');
  }
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: top;
}

.as-close-button__icon {
  margin-right: 55px;
}

.mobile-menu__header {
  padding: 29px 0 32px;
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms var(--cubic-bezier), visibility 500ms var(--cubic-bezier);
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.as-backdrop__link,
.as-backdrop__text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--accent-color);
  text-transform: uppercase;
}

.as-backdrop__link--active {
  color: transparent;
  -webkit-text-stroke: 1px var(--accent-color);
}

.as-backdrop__link:hover,
.as-backdrop__link:focus {
  color: transparent;
  -webkit-text-stroke: 1px var(--accent-color);
}
.as-backdrop__item:not(:last-child) {
  margin-bottom: 24px;
}

.as-backdrop__item-servises {
  margin-bottom: 24px;
}

.as-backdrop__link-servises {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: var(--accent-color);
}

.as-backdrop__list {
  text-align: center;
}
.as-backdrop__item-servises::before {
  content: '';
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 10px;
  background: #487996;
  border-radius: 3px 0px;
}
.as-backdrop__item-servises {
  display: flex;
  align-items: center;
  justify-content: center;
}
