@media screen and (max-width: 767px) {
  .as-call-list {
    display: none;
  }
}

@media screen and (max-width: 1443px) {
  .as-pagination {
    display: none;
  }
}

.as-logo-header {
  margin-right: 23px;
}
.as-logo-header__image {
  width: 101px;
}

.as-header-line {
  display: flex;
  align-items: center;
}

.burger-button,
.call-button,
.lang-button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  background-color: transparent;
}

.burger-button {
  margin-right: 46px;
  fill: var(--accent-color);
}

.call-button {
  fill: var(--icon-pseudoelement-color);
}

.header__call-button {
  position: relative;
}
.call-button__dropdown {
  animation: fadeIn;
  animation-duration: 500ms;
  position: absolute;
  top: 35px;
  left: 12px;
  transform: translate(-50%);
  width: 162px;
  padding: 16px 0;

  border-radius: 2px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  display: none;
}
.call-button__dropdown::before {
  content: '';
  display: block;
  position: absolute;
  top: -26px;
  left: 70px;
  border: 14px solid transparent;
  border-bottom: 18px solid #ffffff;
  border-radius: 2px;
  width: 0;
  height: 0;
}
.call-button:hover + .call-button__dropdown,
.call-button:focus + .call-button__dropdown {
  display: block;
}

.call-button__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.call-button__item:not(:last-child) {
  margin-bottom: 10px;
}

.header__lang-button {
  position: relative;
  margin-left: auto;
}

.lang-button {
  margin-left: auto;
  cursor: pointer;
  font-family: var(--header-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--hero-lang-color);
  text-transform: uppercase;
}

.lang-button__dropdown {
  animation: fadeIn;
  animation-duration: 500ms;
  position: absolute;
  top: 35px;
  left: 12px;
  transform: translate(-50%);
  width: 81px;
  padding: 16px 0;
  border-radius: 2px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  display: none;
}

.lang-button__dropdown::before {
  content: '';
  display: block;
  position: absolute;
  top: -26px;
  left: 27px;
  border: 14px solid transparent;
  border-bottom: 18px solid #ffffff;
  border-radius: 2px;
  width: 0;
  height: 0;
}

.lang-button:hover + .lang-button__dropdown,
.lang-button:focus + .lang-button__dropdown {
  display: block;
}

.lang-button__item:not(:last-child) {
  margin-bottom: 10px;
}

.lang-button__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  transition: color 250ms linear;
}

.lang-button__link:hover,
.lang-button__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .as-logo-header {
    margin-right: 174px;
  }
  .as-logo-header__image {
    width: 125px;
  }
  .burger-button {
    margin-right: 86px;
  }
  .call-button {
    display: none;
  }
  .lang-button {
    margin-right: 28px;
  }
}
.as-call-list__link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.as-call-list__icon {
  fill: var(--icon-pseudoelement-color);
  margin-right: 4px;
}
.as-call-list__link {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1444px) {
  .as-header-line {
    width: 1280px;
    align-items: flex-start;
  }
  .as-logo-header__image {
    width: 192px;
  }
  .as-logo-header {
    margin-right: 193px;
  }
  .burger-button {
    display: none;
  }
  .lang-button {
    margin-right: 94px;
  }
}

.as-pagination__list {
  display: flex;
  text-align: center;
}
.as-pagination__item:not(:last-child) {
  margin-right: 54px;
}

.as-pagination__link {
  display: block;
  transition: color 250ms linear;
  font-family: var(--header-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.as-pagination__link:hover,
.as-pagination__link:focus {
  color: var(--accent-color);
}

.as-pagination__item-servises {
  position: relative;
}

.as-pagination__dropdown {
  display: none;
  position: absolute;
  top: 21px;
  transform: translateX(-25%);
  width: 144px;
  padding: 8px 0;
  text-align: center;
}

.as-pagination__link-servises:hover + .as-pagination__dropdown,
.as-pagination__link-servises:focus + .as-pagination__dropdown {
  animation: fadeIn;
  animation-duration: 500ms;
  display: block;
}

.as-pagination__down-item:not(:last-child) {
  margin-bottom: 6px;
}

.as-pagination__down-link {
  font-family: var(--header-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: var(--text-color);
  transition: color 250ms linear;
}

.as-pagination__down-link:hover,
.as-pagination__down-link:focus {
  color: var(--accent-color);
}
