.main-bg {
  @include min-width('small') {
    background-image: url(../images/mobile/img1.png);
    @include retina('../images//mobile/img1@2x.png', 'small');
    background-size: map-get($min-widths, 'small');
  }
  @include min-width('medium') {
    background-image: url(../images/tablet/img1.png);
    @include retina('../images//tablet/img1@2x.png', 'medium');
    background-size: map-get($min-widths, 'medium');
  }
  @include min-width('large') {
    background-image: url(../images/desktop/img1.png);
    @include retina('../images//desktop/img1@2x.png', 'large');
    background-size: map-get($min-widths, 'large');
  }
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: top;
}
.side-bg {
  @include min-width('small') {
    background-image: url(../images/mobile/img2.png);
    @include retina('../images//mobile/img2@2x.png', 'small');
    background-size: map-get($min-widths, 'small');
  }
  @include min-width('medium') {
    background-image: url(../images/tablet/img2.png);
    @include retina('../images//tablet/img2@2x.png', 'medium');
    background-size: map-get($min-widths, 'medium');
  }
  @include min-width('large') {
    background-image: url(../images/desktop/img2.png);
    @include retina('../images//desktop/img2@2x.png', 'large');
    background-size: map-get($min-widths, 'large');
  }
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: top;
}
