.main-bg {
  @include min-width('small') {
    background-image: url(../images/mobile/img1.jpg);
    @include retina('../images//mobile/img1@2x.jpg', 'small');
    background-size: 538px;
  }
  @include min-width('medium') {
    background-image: url(../images/tablet/img1.jpg);
    @include retina('../images//tablet/img1@2x.jpg', 'medium');
    background-size: 962px;
  }
  @include min-width('large') {
    background-image: url(../images/desktop/img1.jpg);
    @include retina('../images//desktop/img1@2x.jpg', 'large');
    background-size: 1728px;
  }
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: top;
}
.side-bg {
  @include min-width('small') {
    background-image: url(../images/mobile/img1.jpg);
    @include retina('../images//mobile/img1@2x.jpg', 'small');
    background-size: 538px;
  }
  @include min-width('medium') {
    background-image: url(../images/tablet/img2.jpg);
    @include retina('../images//tablet/img2@2x.jpg', 'medium');
    background-size: 962px;
  }
  @include min-width('large') {
    background-image: url(../images/desktop/img2.jpg);
    @include retina('../images//desktop/img2@2x.jpg', 'large');
    background-size: 1728px;
  }
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: top;
}
