// 320 ===========

.take-order__hero {
  padding-bottom: 52px;

  // background-image: url(../images/mobile/take-over/img0.jpg);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // background-position-y: 106px;
}

.take-order__hero-title {
  @include font(24px, 700, 30px);
  color: var(--accent-color);
  text-transform: uppercase;

  margin-bottom: 16px;

  &::after {
    margin-top: 16px;
    content: url(../images/mobile/take-over/img0.jpg);
    display: block;

    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 171px;
    background-size: cover;
    // background-image: url(../images/mobile/take-over/img0.jpg);
  }
}

//ломается, почему-то увеличивется
// @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
//   (min-resolution: 192dpi) and (min-width: 320px),
//   (min-resolution: 2dppx) and (min-width: 320px) {
//   .take-order__hero-title::after {
//     content: url(../images/mobile/take-over/img0@2x.jpg);
//   }
// }

.take-order__hero-text {
  @include font(16px, 300, 20px);

  color: var(--text-color);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

// 768+
@media screen and (min-width: 768px) {
  .take-order__hero-container {
    display: flex;
    align-items: center;
  }
  .take-order__hero-title {
    @include font(36px, 700, 45px);

    &::after {
      margin-top: 24px;
      content: url(../images/tablet/take-order/img0.jpg);
    }
  }
}
