.take-order__hero {
  padding-bottom: 52px;
}
.take-order__hero-title {
  margin-bottom: 16px;
  text-transform: uppercase;
}
.take-order__background {
  background-image: url('../images/mobile/take-over/img0.jpg');
  width: 100%;
  height: 171px;
  background-repeat: no-repeat;
  // background-size: cover;
  background-position: center;
  margin-bottom: 16px;
}
.take-order__hero-text {
  @include font(16px, 300, 20px);

  color: var(--text-color);

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

// 768+
@media screen and (min-width: 768px) {
  .take-order__hero-title {
    margin-bottom: 24px;
  }
  .take-order__hero-wrapper {
    display: flex;
  }
  .take-order__background {
    background-image: url('../images/tablet/take-order/img0.jpg');
    width: 100%;
    height: 116px;
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: center;
    margin-right: 20px;
  }
}

// 1444+
@media screen and (min-width: 1444px) {
  .take-order__hero {
    padding-bottom: 100px;
  }
  .take-order__hero-title {
    margin-bottom: 24px;
  }
  .take-order__background {
    background-image: url('../images/desktop/take-order/img0.jpg');
    width: 100%;
    height: 315px;
    margin-right: 32px;
  }
  .take-order__hero-text-wrapper {
    background-image: url('../images/desktop/take-order/img1.jpg'),
      url('../images/desktop/take-order/img2.jpg'), url('../images/desktop/take-order/img3.jpg');

    border-radius: 72px 0px 0px 72px;
    // border-radius: 72px 0px;
    // border-radius: 0px 0px 72px 0px;

    background-repeat: no-repeat;
    background-position: left bottom, bottom, right bottom;
    background-size: 144px;
  }
  .take-order__hero-text {
    @include font(18px, 300, 23px);

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}
